body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
        background-image: linear-gradient(to bottom, #ffe3bf, #f6eabc, #e7f1bd, #d5f8c5, #bfffd4);
}

.course-container {
    text-align: center;
}

.title {
    color: rgb(255, 0, 0);
    font-size: 30px;
}

.slider {
    position: relative;
    width: 100%;
    margin: 30px auto;
    overflow: hidden;
}

.cards-container {
    display: flex;
    transition: transform 0.5s;
    overflow-x: hidden;
    margin-top: 150px;
}

.card {
    background-color: orange;
    color: white;
    width: 25%;
    /* Four cards per view */
    min-width: 25%;
    /* Ensures four cards are visible */
    margin: 10px;
    padding: 50px;
    text-align: left;
    flex: 0 0 auto;
    transition: transform 0.3s;
}

.card h2 {
    margin: 0;
}

.card a {
    color: black;
    text-decoration: none;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    margin-top: 80px;
    color: rgb(0, 0, 0);
    /* background-color: white; */
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}
.footer {
    background-color: #f0f0f0;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  color: black;
  font-size: 14px;
}

.footer h3 {
    color: black;
    font-size: 14px;
    margin: 0;
}


.buttons {
    margin-top: 120px;
    margin-left: 540px;
}

.button {
    padding: 10px 20px;
    margin: 0 70px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}